.menu-main-container{
   width: 100%;
   background-color: whitesmoke;
   .menu{
      margin: 0;
		padding: 0;
      display: inline-flex;
		list-style-type: none;
      .menu-item{
         padding: 1rem;
         a{
				display: block;
				white-space: nowrap;
				color: black;
				padding: 8px 10px 8px 10px;
			}
			a:hover{
				background-color: rgba(0, 0, 0, 0.1);
				text-decoration: none;
			}
      }
      .menu-item:first-child{
         font-weight: bold;
      }
      .current-menu-item{
         a{
            color: rgb(114, 161, 20);
         }
      }
   }
}

footer{
   background-color: whitesmoke;

   .credits{
      text-align: center;
      padding-bottom: 2rem;
   }
}

.menu-footer-container{
	width: 100%;
	text-align: center;
	ul{
		li{
			padding: 1rem;
			a{
				display: block;
				white-space: nowrap;
				color: black;
				padding: 8px 10px 8px 10px;
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border: bottom color #333;
			}
			a:hover{
				background-color: rgba(0, 0, 0, 0.1);
				text-decoration: none;
			}
		}
		display: inline-flex;
		padding: 0;
		list-style-type: none;
	}
}